@charset "euc-kr";

.content{min-height:500px;padding:0 0 0 47px;background-color:#e7e6e3;}
#sub_content{border-bottom:1px solid #fff;}
#sub_content:after{content:"";display:block;clear:both;}
#area_nav_left{float:left;width:243px;margin-top:64px;padding:0 0 0 8px;background:url("../../Images/Left/bg_left.png") no-repeat 100% 100%;}
#area_content{float:left;position:relative;width:923px;margin-top:32px;}
.section{padding:18px 0 40px 15px;background-color:#f6f6f4;}
#quick_top{position:fixed;right:30px;bottom:50px;background-color:#666;opacity:0;}
#quick_top a{display:block;padding:10px;color:#fff;}

/* main */
#main_content{text-indent:-9999em;overflow:hidden;border-bottom:3px solid #fff;}
#main_content .area_content{position:relative;height:556px;}
.text_main{position:absolute;width:469px;height:64px;left:16px;top:219px;background:url("../../Images/Main/copy.png") no-repeat 0 0;}
.img_main{position:absolute;width:660px;height:375px;left:475px;top:95px;background:url("../../Images/Main/visual_img.png") no-repeat 0 0;}

/* sub */
#area_content p.para_nav{height:32px;line-height:32px;padding-right:25px;text-align:right;}
.section h3{width:212px;height:28px;}
.section .article{width:856px;margin:15px 0 0 15px;border-top:1px solid #c5c5c3;white-space:nowrap;text-indent:-9999em;overflow:hidden;}
/* content of company */
.section .ceo{height:533px;background:url("../../Images/Content/company.png") no-repeat 50% 25px;}
.section .history{height:1957px;background:url("../../Images/Content/company01.png") no-repeat 50% 25px;}
.section .org{height:1060px;background:url("../../Images/Content/company02.png") no-repeat 50% 25px;}
.section .vision{height:780px;background:url("../../Images/Content/company03.png") no-repeat 50% 25px;}
.section .map{padding:25px 0;text-indent:0;overflow:show;}
.section .kgsp{height:1150px;background:url("../../Images/Content/kgsp.png") no-repeat 50% 25px;}

/* content of product */
.section .sims_wos{height:823px;background:url("../../Images/Content/wos.png") no-repeat 50% 25px;}
.section .sims_erp{height:5414px;background:url("../../Images/Content/erp.png") no-repeat 50% 25px;}
.section .sims_werp{/* height:3989px; */background:url("../../Images/Content/WERP01.png") no-repeat 50% 25px;}
.section .sims_werp #tab_werp{position:absolute;left:100px;top:385px;text-indent:0;}
.section .sims_werp #tab_werp ul:after{content:"";display:block;clear:both;}
.section .sims_werp #tab_werp li{float:left;margin-right:113px;}
.section .sims_werp #tab_werp li a{display:block;height:20px;background:url("../../Images/Content/tab_werp.png") no-repeat 50% 0;text-indent:-9999em;overflow:hidden;}
.section .sims_werp #tab_werp li.sales a{width:104px;background-position:0 50%;}
.section .sims_werp #tab_werp li.purchase a{width:77px;background-position:-166px 50%;}
.section .sims_werp #tab_werp li.account a{width:78px;background-position:-299px 50%;}
.section .sims_werp #tab_werp li.wms a{width:112px;background-position:-433px 50%;}
.section .sims_werp #tab_werp li a:hover,
.section .sims_werp #tab_werp li.show a{background-image:url("../../Images/Content/tab_werp_on.png");}
.section .sims_werp .area_tab{margin-top:330px;}
.section .sims_werp .area_tab dl{display:none;}
.section .sims_werp .area_tab dl.show{display:block;}
.section .sims_werp .area_tab dl.werp{height:3594px;background:url("../../Images/Content/WERP02.png") no-repeat;}
.section .sims_werp .area_tab dl.sales{height:1348px;background:url("../../Images/Content/WERP-1.png") no-repeat;}
.section .sims_werp .area_tab dl.purchase{height:1342px;background:url("../../Images/Content/WERP-3.png") no-repeat;}
.section .sims_werp .area_tab dl.account{height:1353px;background:url("../../Images/Content/WERP-2.png") no-repeat;}
.section .sims_werp .area_tab dl.wms{height:1442px;background:url("../../Images/Content/WERP-wms.png") no-repeat;}
.section .sims_wms{height:1442px;background:url("../../Images/Content/wms.png") no-repeat 50% 25px;}
.section .anysale_plus{height:6603px;background:url("../../Images/Content/anysales.png") no-repeat 50% 25px;}

/* left */
#area_nav_left h2{width:175px;height:50px;margin-top:10px;background:url("../../Images/Left/nav_left.png") no-repeat 0 -21px;text-indent:-9999em;overflow:hidden;}
#area_nav_left h2.company{background:url("../../Images/Left/nav_left.png") no-repeat 0 -21px;}
#area_nav_left h2.product{background:url("../../Images/Left/nav_left.png") no-repeat -175px -21px;}
#area_nav_left h2.consulting{background:url("../../Images/Left/nav_left.png") no-repeat -350px -21px;}
#area_nav_left .ln_left{position:static;width:175px;height:20px;margin:25px 0 0;padding:0;visibility:visible;border:0;background:url("../../Images/Left/nav_left.png") no-repeat 0 -1px;text-align:left;}
#nav_left li{width:175px;padding-bottom:1px;background:url("../../Images/Left/left_menu_line.png") no-repeat 0 100%;}
#nav_left li a{display:block;width:175px;height:34px;background:url("../../Images/Left/nav_left.png") no-repeat 0 0;text-indent:-9999em;overflow:hidden;}
/* menu of company */
#nav_left li a.ceo{background-position:0 -71px;}
#nav_left li a.history{background-position:0 -105px;}
#nav_left li a.organization{background-position:0 -139px;}
#nav_left li a.vision{background-position:0 -173px;}
#nav_left li a.map{background-position:0 -207px;}
#nav_left li a.ceo.show,
#nav_left li a.ceo:hover{background-position:-175px -71px;}
#nav_left li a.history.show,
#nav_left li a.history:hover{background-position:-175px -105px;}
#nav_left li a.organization.show,
#nav_left li a.organization:hover{background-position:-175px -139px;}
#nav_left li a.vision.show,
#nav_left li a.vision:hover{background-position:-175px -173px;}
#nav_left li a.map.show,
#nav_left li a.map:hover{background-position:-175px -207px;}
/* menu of product */
#nav_left li a.sims_wos{background-position:0 -241px;}
#nav_left li a.sims_erp{background-position:0 -275px;}
#nav_left li a.sims_werp{background-position:0 -309px;}
#nav_left li a.sims_wms{background-position:0 -343px;}
#nav_left li a.anysale_plus{background-position:0 -377px;}
#nav_left li a.sims_wos.show,
#nav_left li a.sims_wos:hover{background-position:-175px -241px;}
#nav_left li a.sims_erp.show,
#nav_left li a.sims_erp:hover{background-position:-175px -275px;}
#nav_left li a.sims_werp.show,
#nav_left li a.sims_werp:hover{background-position:-175px -309px;}
#nav_left li a.sims_wms.show,
#nav_left li a.sims_wms:hover{background-position:-175px -343px;}
#nav_left li a.anysale_plus.show,
#nav_left li a.anysale_plus:hover{background-position:-175px -377px;}