<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpErrors errorMode="Custom">
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" prefixLanguageFilePath="" path="/namecard/view.asp" responseMode="ExecuteURL" />
        </httpErrors>
        <defaultDocument>
            <files>
                <clear />
                <add value="intro.html" />
                <add value="intro.asp" />
                <add value="default.asp" />
            </files>
        </defaultDocument>
        <httpProtocol>
            <customHeaders>
                <add name="P3P" value="'CAO PSA CONI OTR OUR DEM ONL'" />
            </customHeaders>
        </httpProtocol>
        <staticContent>
            <mimeMap fileExtension=".apk" mimeType="application/vnd.android.package-archive" />
        </staticContent>
    </system.webServer>
</configuration>
